# For Loop: EXAMPLE 1

In [10]:
#Print the given sequence of numbers using for loop
count = [10,20,30,40,50]
for num in count:
    print(num)

for num in range(5):
    if num > 10:
        print(num * 10)

10
20
30
40
50

In [19]:
count = [10,20,30,40,50]
for num in range(5):
    if num > 0:
        print(num * 10)

10
20
30
40

# While Loop Example

In [25]:
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [37]:
entry = 0
sum1 = 0
print("Enter numbers to find their sum, negative number ends the loop:")
while True:
    #int() typecasts string to integer
    entry = int(input())
    if (entry < 0):
        break
    sum1 += entry
print("Sum =", sum1)

Enter numbers to find their sum, negative number ends the loop:

 8
 9
 10
 1111
 -2

Sum = 1138

# Continue Statement Example

In [48]:
num = 0
for num in range(6):
    num += 1
    if num == 3:
        continue
    print('Num has value ' + str(num))
print('End of Loop')

Num has value 1
Num has value 2
Num has value 4
Num has value 5
Num has value 6
End of Loop

# Nested Loop

In [57]:
for var1 in range(3):
    print("Iteration " + str(var1 + 1) + " of the outer loop")
    for var2 in range(2): #nested loop
        print(var2 + 1)
    print("Out of inner loop")
print("Out of outer loop")

Iteration 1 of the outer loop
1
2
Out of inner loop
Iteration 2 of the outer loop
1
2
Out of inner loop
Iteration 3 of the outer loop
1
2
Out of inner loop
Out of outer loop

# Exercise I - Sequence

In [60]:
# Python program to swap two cities

# To take inputs of from the user
city_1 = input('Enter name of City 1: ')
city_2 = input('Enter name of City 2: ')

# create a temporary variable and swap the cities
temp = city_1
city_1 = city_2
city_2 = temp

print(f"The name of City 1 after swapping is {city_1}")
print(f"The name of City 2 after swapping is {city_2}")

Enter name of City 1:  Lagos
Enter name of City 2:  Abuja

The name of City 1 after swapping is Abuja
The name of City 2 after swapping is Lagos

# Exercise II - Selection

In [67]:
# Program to check if a number is Positive, negative or 0
num = float(input("Enter a number: "))
if num > 0:
    print("Positive Number")
elif num == 0:
    print("Zero")
else: print("Negative number")

Enter a number:  -5

Negative number

# Exercise III - Repition

In [72]:
# COUPE DE ESCRIVA 2023: FOOTBALL PICKS
print("Welcome to the COUPE DE ESCRIVA 2023: FOOTBALL PICKS \n")

captain = {'Madiba: ': 'Chubby Obiora-Okafor', 'Blue-Jays: ': 'Christopher Uweh', 'Cirok: ': 'Alxander', 'TSG Walkers: ': 'Ikechukwu'}

goalkeepers = {'Madiba: ': 'Chubby Obiora-Okafor',
             'Blue-Jays: ': 'Oladimeji Abaniwondea/Jeffery Awagu',
             'Cirok: ': 'Timileyin Pearse/Izuoko Jeremy',
             'TSG Walkers: ': 'Ayomide Ojituku'}

for pick in captain:
    print(pick, captain[pick])

print("\n")

for pick in goalkeepers:
    print(pick, goalkeepers[pick])

Welcome to the COUPE DE ESCRIVA 2023: FOOTBALL PICKS

Madiba:  Chubby Obiora-Okafor
Blue-Jays:  Christopher Uweh
Cirok:  Alxander
TSG Walkers:  Ikechukwu


Madiba:  Chubby Obiora-Okafor
Blue-Jays:  Oladimeji Abaniwondea/Jeffery Awagu
Cirok:  Timileyin Pearse/Izuoko Jeremy
TSG Walkers:  Ayomide Ojituku